<!-- Series Nav -->
<!-- <ul>
  <li><a href="/series/god" class="f6 ph3 pv1 no-underline silver hover-light-gray db lh-solid raise">On God</a></li>
  <li><a href="/series/truth" class="f6 ph3 pv1 no-underline silver hover-light-gray db lh-solid raise">On Truth</a></li>
</ul> -->

<!-- Latest Thought Provoking -->
<div class="mt3 silver f6 ph3">
  <span class="ttl b mid-gray" style="font-size: 14px;">my influences</span>
  <ul>
    <li><a href="https://www.youtube.com/watch?v=07Ys4tQPRis" class="pv1 no-underline hover-light-gray db lh-solid raise" target="_blank">Jordan B Peterson</a></li>
    <li><a href="https://www.youtube.com/watch?v=EuNeqawPuuY&t=53s" class="pv1 no-underline hover-light-gray db lh-solid raise" target="_blank">Necessity of Free Speech</a></li>
    <li><a href="https://www.youtube.com/watch?v=dU92jkI7eNs&t=1s" class="pv1 no-underline hover-light-gray db lh-solid raise" target="_blank">Paul Vanderklay</a></li>
    <li><a href="https://www.youtube.com/watch?v=zdUM0ZB5zT0" class="pv1 no-underline hover-light-gray db lh-solid raise" target="_blank">NT Wright</a></li>
    <li><a href="https://www.audible.ca/pd/C-S-Lewis-Audiobook/B072LJVHXP?qid=1546447023&sr=sr_1_1&ref=a_search_c3_lProduct_1_1&pf_rd_p=65c74350-6dfb-47fa-85fd-1459a4762abd&pf_rd_r=H9WDFD38854VENXE8KB6&" class="pv1 no-underline hover-light-gray db lh-solid raise" target="_blank">CS Lewis</a></li>
    <li><a href="https://www.youtube.com/watch?v=V0LG26k6ngs" class="pv1 no-underline hover-light-gray db lh-solid raise" target="_blank">Timothy Keller</a></li>
    <li><a href="https://www.youtube.com/watch?v=fI1ngqwH5us" class="pv1 no-underline hover-light-gray db lh-solid raise" target="_blank">Iain McGilChrist</a></li>
    <li><a href="https://www.youtube.com/watch?v=Ks01EyQeJrY" class="pv1 no-underline hover-light-gray db lh-solid raise" target="_blank">Søren Kierkegaard</a></li>
    <li><a href="https://www.youtube.com/watch?v=g8Y8dVVV4To" class="pv1 no-underline hover-light-gray db lh-solid raise" target="_blank">René Girard</a></li>
    <li><a href="https://www.theatlantic.com/magazine/archive/2015/09/the-coddling-of-the-american-mind/399356/" class="pv1 no-underline hover-light-gray db lh-solid raise" target="_blank">Jonathan Haidt</a></li>
    <li><a href="http://www.thinkingfaith.org/articles/20080923_1.htm" class="pv1 no-underline hover-light-gray db lh-solid raise" target="_blank">Bernard Lonergan</a></li>
  </ul>
</div>

<!-- Static Pages Nav -->
<div class="absolute bottom-0 mb4">
  <a href="/about" class="f6 ph3 pv1 no-underline silver hover-light-gray db lh-solid raise">About</a>
  <div class="mid-gray b ph3 pv1" style="font-size: 14px;">
    contact:
    <a href="mailto:gabecreates@gmail.com" class="no-underline hover-light-gray db raise">gabecreates@gmail.com</a>
  </div>
</div>
