<!-- Series Nav -->
<ul>
  <li><a href="/series/god" class="f6 ph3 pv1 no-underline silver hover-light-gray db lh-solid raise">On God</a></li>
  <li><a href="/series/truth" class="f6 ph3 pv1 no-underline silver hover-light-gray db lh-solid raise">On Truth</a></li>
</ul>

<!-- Latest Thought Provoking -->
<div class="mt3 silver f6 ph3">
  <span class="ttl b mid-gray" style="font-size: 14px;">interesting reads/videos:</span>
  <ul>
    <li><a href="https://www.youtube.com/watch?v=07Ys4tQPRis" class="pv1 no-underline hover-light-gray db lh-solid raise" target="_blank">Jordan B Peterson Transliminal Interview 2015</a></li>
    <!--<li><a href="https://www.youtube.com/watch?v=Ks01EyQeJrY" class="pv1 no-underline hover-light-gray db lh-solid raise" target="_blank">The Giants of Philosophy Søren Kierkegaard Audiobook</a></li>
    <li><a href="https://www.youtube.com/watch?v=g8Y8dVVV4To" class="pv1 no-underline hover-light-gray db lh-solid raise" target="_blank">René Girard CBC Interview</a></li>
    <li><a href="https://epochemagazine.org/giving-thanks-heideggers-pathway-into-thinking-c3b632a9dac3" class="pv1 no-underline hover-light-gray db lh-solid raise" target="_blank">Giving thanks: Heidegger's Pathway into Thinking</a></li>-->
    <li><a href="https://www.theatlantic.com/magazine/archive/2015/09/the-coddling-of-the-american-mind/399356/" class="pv1 no-underline hover-light-gray db lh-solid raise" target="_blank">The Coddling of the American Mind</a></li>
    <li><a href="http://www.thinkingfaith.org/articles/20080923_1.htm" class="pv1 no-underline hover-light-gray db lh-solid raise" target="_blank">The Continuing Significance of Bernard Lonergan</a></li>
  </ul>
</div>

<!-- Static Pages Nav -->
<div class="absolute bottom-0 mb4">
  <a href="/about" class="f6 ph3 pv1 no-underline silver hover-light-gray db lh-solid raise">About</a>
  <div class="mid-gray b ph3 pv1" style="font-size: 14px;">
    contact:
    <a href="mailto:gabecreates@gmail.com" class="no-underline hover-light-gray db raise">gabecreates@gmail.com</a>
  </div>
</div>
