<div class="bg-near-black fixed top-0 w-100 z-9999 db dn-m pointer" onClick="toggleMenu()">
	<i class="pl2 pv2 fa fa-bars white dib f3"></i>
	<img src="/img/logo-mobile.svg" alt="Gabecreates Logo" class="ml2" height="14px"/>
</div>
<nav id="mobile-menu" class="bg-near-black fixed w5 h-100 z-999 db dn-m">
	<div class="h3"></div>
	{{ partial "nav-items" . }}

</nav>

<script>
	function toggleMenu() {
		var mm = document.getElementById("mobile-menu");
		mm.classList.toggle("open");
	}
</script>
<nav class="bg-near-black fixed w5 h-100 z-998 dn db-m">

	<!-- Logo -->
	<a href="/" class="ph3 pv4 db w4">
		<img src="/img/logo.svg" alt="Gabecreates Logo" class="br0 db mb0 w-100"/>
	</a>

	{{ partial "nav-items" . }}

</nav>
